<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<!--扫描redis下面的包  ：扫描会自动启动注解-->
	<context:component-scan base-package="com.tang.taste.common.util"/>
	<!--配置单机版连接池实现的redis实现类-->
	<!--<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg name="host" value="119.23.252.58"/>
		<constructor-arg name="port" value="6379"/>
	</bean>
	<bean id="singleRedis" class="com.taotao.redis.impl.SingleRedis"/>-->
	<!--redis集群版-->
	<bean id="jedisCluster" class="redis.clients.jedis.JedisCluster">
		<constructor-arg>
				<set>
					<bean class="redis.clients.jedis.HostAndPort">
						<constructor-arg name="host" value="119.23.252.58"/>
						<constructor-arg name="port" value="6379"/>
					</bean>
					<bean class="redis.clients.jedis.HostAndPort">
						<constructor-arg name="host" value="119.23.252.58"/>
						<constructor-arg name="port" value="6380"/>
					</bean>
					<bean class="redis.clients.jedis.HostAndPort">
						<constructor-arg name="host" value="119.23.252.58"/>
						<constructor-arg name="port" value="6381"/>
					</bean>
					<bean class="redis.clients.jedis.HostAndPort">
						<constructor-arg name="host" value="119.23.252.58"/>
						<constructor-arg name="port" value="6382"/>
					</bean>
					<bean class="redis.clients.jedis.HostAndPort">
						<constructor-arg name="host" value="119.23.252.58"/>
						<constructor-arg name="port" value="6383"/>
					</bean>
					<bean class="redis.clients.jedis.HostAndPort">
						<constructor-arg name="host" value="119.23.252.58"/>
						<constructor-arg name="port" value="6384"/>
					</bean>
				</set>
		</constructor-arg>
	</bean>

	<bean id="clusterRedis" class="com.tang.taste.common.util.ClusterRedis"/>

</beans>